@import './variables.scss';
.home {
    .dashboard {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        margin: 32px;
        row-gap: 24px;

        @media (min-width: 800px){
            padding: 0 120px;
        }
    }
    .boardItem {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        padding: 16px;
    }
    .boardItem:hover{
        transform: scale(1.05);
        font-weight: 500;
        background-color: rgb(237, 252, 252);
        border-radius: 10px;
    }
    #pre{
        word-wrap: break-word;
    }
    .itemIcon img{
        color: #004AAD;
        height: auto;
        margin: 1rem;
    }
    .boardItem .filtered{
        width: 9rem;
        height: 9rem;
        filter: $filter
    }

}
